<!DOCTYPE html>
<html>
<head>
  <title>#100днейкода</title>
</head>
<style type="text/css">
  div{
      width:100px;
      height:100px;
      background-color: red;
      display:inline-block;
    }
</style>>
<body>
  #100днейк
  <div class="left_button"></div>
  <div class="right_button"></div>
</body>
</html>